@font-face {
    font-family: 'Interop';
    src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    font-family: 'Interop';
}

/* 공통속성 */
.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.just-sb {
    justify-content: space-between;
}

.just-c {
    justify-content: center;
}

.wrap {
 
    margin: auto;
}

/* header *************************************/
header {
    height: 60px;
}

header h1 img {
    width: 210px;
}

/* menu-bar */
.menu-bar {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* login */
.login-icon img {
    width: 35px;
}

/* menu *************************************/
.menu {
    height: 110px;
    background: #000;
    color: #fff;
    font-size: 18px;
    display: none;
}

.menu ul {
    justify-content: space-between;
    width: 50%;
    text-align: center;
}

.menu li {
    padding: 8px 0;
}

.menu li:hover {
    color: rgb(255, 255, 0);
    font-weight: 700;
}

/* login *************************************/
.login {
    height: 130px;
    display: none;
}

.login-box input {
    padding: 10px;
    margin: 10px 5px;
    font-size: 18px;
}

.login-btn input {
    padding: 5px 20px;
    background: #000;
    color: #fff;
    font-size: 13px
}

.login-btn {
    padding: 50px 12px;
}

/* prodect *************************************/
.product-detail{display: none;}

.product h2 {
    font-size: 35px;
    padding: 30px 10px;
    text-align: center;
}

figure img {
    width: 100%;
    /* border: 1px solid #000; */



}

.product-name {
    /* border: 1px solid #000; */
    height: 75px;
    padding: 10px  ;
}

ul.product-summary {
    position: relative;
    height: 58px;
    width: 80%;
}

.product-summary li {
    position: absolute;
  
}

.product-summary h3 {
    font-size: 20px;
    padding-bottom: 5px;
}

.pproduct-summary p {
    font-size: 17px;
}


span {
    cursor: pointer;
    display: inline-block;
    perspective: 100px;
    padding-top: 25px;
    
}

span img {
    transition: .35s;
}

span.on img {
    transform: rotateX(180deg);
}

.product-detail {
    position: relative;
    height: 424px;
}

.product-detail>li {
    position: absolute;
    width: 100%;
    border: 1px solid #f00;
}

.product-desc {
    background-color: #E1E1E1;
}

.inner {
    padding: 30px 25px;
    text-align: center;
}

.product-desc h3 {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 1.2;
}

.product-desc p {
    padding-top: 10px;
    font-size: 18px;
    line-height: 2;
}

.product-color h3 {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.product-color ul {
    gap: 10px;
    margin-bottom: 40px;
    justify-content: center;
}

.product-color ul img {
    width: 30px;
}

.product-color li {
    border: 5px solid transparent;
    border-radius: 99px;
}

.prodect-color li:hover {
    border-color: #ccc;

}

/* product *************************************/
.product-item {
    display: flex;
    flex-wrap: wrap;
    background: #000;
    color: #fff;
    font-size: 18px;
}

.product-item li {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.product-item li.on {
    color: rgb(255, 255, 0);
}

/* .item3{font-size: 17px;} */
.item3{font-size: 13px;}

.product-more{display: none;}