@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.vslide-container {
    width: 50%;
    height: 100vh;
    position: relative;

    .vslide-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;

        .vslide {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;

            &.vslide1 {
                background-image: url(../images/main1-1.jpg);
            }

            &.vslide2 {
                background-image: url(../images/main2-1.jpg);
            }

            &.vslide3 {
                background-image: url(../images/main3-1.jpg);
            }
        }

    }
}

.hslide-container {
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .hslide-wrap {
        width: 300%;
        height: 100%;
        position: absolute;
        display: flex;
        left: -100%;


        .hslide {
            width: 100%;
            height: 100%;
            background: #EAE6DD;
            flex: 1;

            .tabs {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                ul.tab-menu {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;

                    li{
                        cursor: pointer;
                        position: relative;
                        filter:grayscale(1);
                        &.on{
                            filter:grayscale(0);
                        }
                    }
                    li img {
                        width: 170px;
                    }
                }
            }

            .tab {
                color: #074923;
                text-align: right;
                padding: 170px 20px;
                position: relative;
                width: 100%;
                z-index: 10;
                li{
                    width: 100%;
                    position: absolute;
                    top:0;
                    left:0;
                    display: none;
                    padding-right:50px;
                    
                    &:first-child{display: block;}

                    h2 {
                        font-size: 100px;
    
                    }
    
                    p {
                        font-size: 25px;
                        padding-top: 20px;
                        line-height: 50px;
                        font-weight: 700;
                    }
                }
                
                .main-page {
                    font-family: 'SF_HambakSnow';
                    p{font-size: 40px;}
                }
                .col{font-family: 'SF_HambakSnow';}

            }


        }
    }
}

button {
    background-color: inherit;
    border: none;
    position: absolute;
    bottom: 3%;
    cursor: pointer;

    &.prev {
        left: 10px;

        &:hover img {
            content:url(../images/prev.on.png);
        }
    }

    &.next {
        right: 10px;

        &:hover img {
            content: url(../images/next.on.png);
        }
    }
}

.logo {
    position: absolute;
    top: 2%;
    right: 1%;

    img {
        width: 150px;
    }
}