@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body img {
  vertical-align: top;
}

header .top-menu {
  width: 100%;
  height: 40px;
  background-color: #f5f6f7;
  color: #333;
}
header .top-menu ul {
  width: 1140px;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}
header .top-menu ul li {
  padding: 0 0 2px 13px;
  font-size: 11px;
  line-height: 12px;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 86px;
  margin: 0 auto;
}
header .inner h1 {
  padding-top: 20px;
}
header .inner nav ul {
  display: flex;
}
header .inner nav ul li {
  position: relative;
  padding-left: 10px;
  font-size: 15px;
  line-height: 1.1;
  display: flex;
  align-items: center;
}
header .inner nav ul li:nth-child(1) {
  color: #FF603E;
}
header .inner nav ul li:nth-child(1) a {
  position: relative;
}
header .inner nav ul li:nth-child(1) a::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 4px;
  height: 4px;
  background-color: #FF603E;
  border-radius: 50%;
}
header .inner nav ul li input {
  width: 202px;
  height: 28px;
  padding: 0 44px 0 14px;
  background-color: #fff;
  border: 1px solid #ff214f;
  border-radius: 15px;
}
header .gnb {
  width: 1160px;
  margin: 0 auto;
}
header .gnb ul {
  display: flex;
  justify-content: space-between;
}
header .gnb ul li {
  text-align: center;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  line-height: 45px;
  white-space: nowrap;
}
header .gnb ul li a:hover {
  color: #FF603E;
}
header .gnb ul li a.dot {
  position: relative;
}
header .gnb ul li a.dot::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 4px;
  height: 4px;
  background-color: #FF603E;
  border-radius: 50%;
}
header .gnb ul li.bar {
  position: relative;
}
header .gnb ul li.bar::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  left: -15px;
  width: 1px;
  height: 7px;
  background-color: #ccc;
}

main .top-btn {
  position: fixed;
  left: 50%;
  bottom: 60px;
  z-index: 999;
  width: 50px;
  height: 50px;
  margin-left: 620px;
  color: #666;
  font-size: 10px;
  line-height: 1.1;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  background-color: #eee;
  border-radius: 50%;
}
main .top-btn span {
  display: block;
  width: 8px;
  height: 7px;
  margin: 13px auto 6px;
  background-position: -236px 0;
  background-image: url(../img/sp_icon.png);
}
main .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
main .swiper .swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}
main .swiper .swiper-slide img {
  display: block;
  width: 100%;
}
main .swiper .swiper-slide .desc {
  position: absolute;
  left: 410px;
  bottom: 250px;
  width: 80%;
  height: 140px;
}
main .swiper .swiper-slide .desc.white {
  color: #fff;
}
main .swiper .swiper-slide .desc .copy {
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: 40px;
  line-height: 1.25;
  font-weight: bold;
}
main .swiper .swiper-slide .desc .copy .label-red {
  background-color: #ff3131;
}
main .swiper .swiper-slide .desc .copy .label-black {
  background-color: #000;
}
main .swiper .swiper-slide .desc .copy .labelV18 {
  display: inline-block;
  position: relative;
  height: 24px;
  padding: 0 8px;
  color: #fff;
  font-size: 13px;
  line-height: 23px;
  font-weight: bold;
  border-radius: 12px;
  vertical-align: top;
}
main .swiper .swiper-slide .desc .subcopy {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
}
main .swiper .swiper-button-prev {
  display: block;
  position: absolute;
  left: 80px;
  top: 50%;
  z-index: 40;
  width: 40px;
  height: 72px;
  margin-top: -36px;
  background: url(../img/sp_icon.png) 0 -110px no-repeat;
  text-indent: -999em;
}
main .swiper .swiper-button-next {
  display: block;
  position: absolute;
  right: 80px;
  top: 50%;
  z-index: 40;
  width: 40px;
  height: 72px;
  margin-top: -36px;
  background: url(../img/sp_icon.png) 0 -110px no-repeat;
  text-indent: -999em;
  background-position: -50px -110px;
}
main .swiper .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 32px;
  z-index: 100;
  width: 100%;
  height: 8px;
}
main .swiper .swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}
main .swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}
main .just {
  padding: 58px 0;
  background: url(../img/bg_pattern_slash.png) 0 0 repeat;
}
main .just .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
}
main .just .inner .tit-wrap h2 {
  color: #ff3131;
  padding-right: 8px;
  font-weight: 800;
  font-size: 32px;
}
main .just .inner .tit-wrap h2 span {
  font-weight: 400;
}
main .just .inner ul {
  display: flex;
  gap: 30px;
}
main .just .inner ul li {
  text-align: center;
}
main .just .inner ul li .text {
  padding: 15px 12px 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4;
}
main .just .inner ul li .text span {
  color: #ff3131;
}
main .just .inner ul li img {
  width: 90%;
  border-radius: 999px;
}
main .text-exhibition {
  padding: 64px 0 15px;
}
main .text-exhibition ul {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
}
main .text-exhibition ul li {
  width: 360px;
  height: auto;
}
main .text-exhibition ul li a img {
  width: 100%;
}
main .text-exhibition ul li a h3 {
  padding-top: 14px;
  font-size: 17px;
}
main .text-exhibition ul li a h3 span {
  color: #3f75ff;
}
main .text-exhibition ul li a p {
  font-size: 14px;
  font-weight: 500;
}
main .mdpick {
  height: 1550px;
  padding: 83px 0 0;
}
main .mdpick .inner {
  width: 1140px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
main .mdpick .inner .tit {
  width: 20%;
}
main .mdpick .inner .tit h2 {
  color: #000;
  font-size: 32px;
  line-height: 1.25;
  font-weight: bold;
}
main .mdpick .inner .tit h2 span {
  font-weight: normal;
}
main .mdpick .inner .tit p {
  position: relative;
  padding-top: 60px;
  color: #333;
  font-size: 13px;
  line-height: 1.5;
}
main .mdpick .inner .tit p::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 8px;
  height: 1px;
  background-color: #666;
}
main .mdpick .inner .tit ul {
  margin-top: 80px;
}
main .mdpick .inner .tit ul li a {
  display: inline-block;
  height: 24px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
  background-color: #eee;
  border-radius: 12px;
  transition: 0.35s;
}
main .mdpick .inner .tit ul li a:hover {
  background-color: #ddd;
}
main .mdpick .inner .tit ul li a.on {
  background-color: #000;
  color: #fff;
}
main .mdpick .inner .grid-wrap {
  width: 824px;
}
main .mdpick .inner .grid-wrap .grid {
  display: flex;
  flex-wrap: wrap;
}
main .mdpick .inner .grid-wrap .grid .grid-item {
  margin-bottom: 30px;
}
main .mdpick .inner .grid-wrap .grid .grid-item a img {
  width: 260px;
  height: 260px;
}
main .mdpick .inner .grid-wrap .grid .grid-item a .name {
  width: 260px;
  height: 35px;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 8px;
}
main .mdpick .inner .grid-wrap .grid .grid-item a .price {
  font-size: 13px;
}
main .mdpick .inner .grid-wrap .grid .grid-item a .price span {
  color: #ff3131;
  margin-right: 8px;
}
main .rook-book {
  margin: 63px 0 82px;
  position: relative;
  overflow: hidden;
}
main .rook-book ul {
  display: flex;
  position: relative;
}
main .rook-book span {
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
main .rook-book span.prev {
  left: 50px;
}
main .rook-book span.next {
  right: 50px;
}

footer .nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
footer .nav .menu {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 13px;
  font-size: 13px;
}
footer .nav .menu li {
  padding: 10px;
}
footer .nav .menu li a.bold {
  font-weight: bold;
}
footer .nav .menu li a.dot {
  position: relative;
}
footer .nav .menu li a.dot::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 4px;
  height: 4px;
  background-color: #FF603E;
  border-radius: 50%;
}
footer .nav .menu li a:hover {
  color: #ff3131;
}
footer .wrap {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .wrap .text div {
  margin: 20px 0;
}
footer .wrap .text h2 {
  padding-bottom: 16px;
  font-size: 16px;
}
footer .wrap .text p {
  font-size: 13px;
  line-height: 2;
}
footer .wrap .text p a::after {
  content: " >";
}
footer .wrap .text p a:hover {
  text-decoration: underline;
}
footer .wrap .text span {
  font-size: 11px;
  color: #666;
}
footer .wrap .sns ul {
  display: flex;
  gap: 20px;
}
footer .wrap .sns ul li a {
  display: block;
  width: 28px;
}
footer .wrap .sns ul li a img {
  width: 100%;
  height: 100%;
}
footer .wrap .sns .cus {
  margin-top: 20px;
}
footer .wrap .sns .cus a {
  display: inline-block;
  width: 284px;
  padding: 16px 0 16px 16px;
  background: #f7f7f7;
  border-radius: 8px;
}
footer .wrap .sns .cus a h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .wrap .sns .cus a h3::after {
  content: " >";
}
footer .wrap .sns .cus a p {
  font-size: 11px;
  font-weight: 500;
}
footer .wrap .sns .cus a p span {
  color: #999;
}