@font-face {
    font-family: "Binggrae";
    src: url(./font/Binggrae.woff);
}
@font-face {
    font-family: "Binggrae-B";
    src: url(./font/Binggrae-Bold\ \(3\).woff);
}
@font-face {
    font-family: "jt-font";
    src: url(./font/jt-font.woff);
}

