@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

/* 공통속성 ***********/
body {
    background-image: url(./images/b-img01\ \(1\).jpg);
    position: relative;
}

section {
    max-width: 1240px;
    margin: 100px auto;
    gap: 20px;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* header ************/
header {
    position: relative;
}

.sunny {
    width: 60px;
    position: absolute;
    top: -30%;
    right: 36%;
    animation: rotate-center 7s infinite;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.rocket {
    position: absolute;
    top: 20%;
    right: 20%;
    animation: slide-tr 7s infinite alternate;
}

@-webkit-keyframes slide-tr {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0)
    }

    100% {
        -webkit-transform: translateY(-100px) translateX(100px);
        transform: translateY(-100px) translateX(100px)
    }
}

.berd {
    position: absolute;
    top: 30%;
    left: 27%;
    animation: simpleMove 7s infinite;
}

@-webkit-keyframes simpleMove {
    0% {
        transform: translate(0px, 0px) rotateY(0deg);
    }

    48% {
        transform: translate(200px, 0) rotateY(0deg);
    }

    50% {
        transform: translate(200px, 0) rotateY(-180deg);
    }

    98% {
        transform: translate(0px, 0) rotateY(-180deg);
    }

    100% {
        transform: translate(0px, 0) rotateY(0deg);
    }

}

.header-container {
    text-align: center;
    margin-top: 150px;
}

header p {
    text-align: center;
    padding: 18px;
    font-weight: 700;
}

article {
    position: relative;
}

/* section ***********/
article svg {
    position: absolute;
}

.article1 svg {
    top: -13%;
    left: -14%;
}

.article2 svg {
    top: -22%;
    left: 54%;
}

.article3 svg {
    top: -10%;
    left: 76%;
}

.article1,
.article2,
.article3 {
    height: 370px;
    border-radius: 20px;
}

.article1 {
    background: rgb(229, 54, 123);
}

.article2 {
    background: rgb(0, 66, 164);
    position: relative;
}

.article3 {
    background: rgb(243, 204, 8);
    position: relative;
}

/* article1 ****************************************************/
.article1 h2 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    padding: 30px;
}

.article1 li {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

.article1 a {
    display: block;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article1 img {
    position: absolute;
    top: 7%;
    right: 8%;
}

/* article2 ***************************************************/
.article2 h2 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    padding: 30px;
}

.article2 a.main img {
    width: 340px;
    position: absolute;
    top: 22%;
    left: 7%;
}

.article2 a.button img {
    position: absolute;
    top: 7%;
    left: 83%;
}

/* article3 ***************************************************/
.article3 h2 {
    font-size: 23px;
    font-weight: 700;
    padding: 30px;
}

.article3 img {
    position: absolute;
    left: 22%;
    top: 23%;
}

.infor {
    position: absolute;
    top: 46%;
    left: 5%;
    background: #FFEB80;
    border-top: 5px solid #000;
    width: 90%;
}

.infor li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.desc {
    width: 70%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
}

.orange {
    display: inline-block;
    padding: 5px;
    background: #f16e44;
    color: #fff;
    text-align: center;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}

/* article4 ***************************************/
.article4 {
    height: 100px;
    justify-content: space-between;
}

.item {
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.icon {
    width: 15%;
}

img.icon {
    width: 60px;
    height: 58px;
}

.more {
    width: 15%;
}

img.more {
    width: 37px;
    height: 37px;
}

.summary {
    width: 65%;
}

.summary h2 {
    font-size: 20px;
}

.summary p {
    font-size: 16px;
}

/* 반응형 웹페이지 설정 */
/* 모바일 */
@media screen and (max-width:767px) {
    .header-container {
        padding: 30px;
        margin-top: 80px;

    }

    h1 img {
        width: 291px;
    }

    section {
        position: absolute;
        top: 55%;
        width: 100%;
        left: 5%;

    }

    .article1,
    .article2,
    .article3,
    .article4 {
        width: 90%;

    }

    .rocket {
        display: none;
    }

    .berd {
        display: none;
    }

    .sunny {
        left: 411px;
        top: -50px;
    }

    .article1 svg {
        top: -15%;
        left: -5%;
        width: 85px;

    }

    .article2 svg {
        top: 55%;
        left: 84%;
        width: 100PX;
        z-index: 99;
    }

    .article3 svg {
        top: -10%;
        left: 77%;
        width: 140px;
    }

    .article3 img {
        left: 30%;
        top: 23%;
    }

    .article4 {
        height: 300px;
    }

    .item {
        margin: 10px;
        width: 100%;
        height: 90px;
    }

    .article2 a.main img {
        width: 360px;
        top: 26%;
        left: 12%;

    }
}

/* 테블릿 */
@media screen and (min-width: 768px) {
    h1 img {
        width: 306px;
    }

    section {
        justify-content: center;
        gap: 50px;
    }

    .article1,
    .article2,
    .article3,
    .article4 {
        width: 40%;
    }

    .article4 .item {
        width: 100%;
        margin-bottom: 17px;
        padding: 20px;
    }


    .sunny {
        width: 60px;
        top: -36%;
        right: 30%;
    }

    .rocket {
        display: none;
    }

    .berd {
        top: 13%;
        left: 6%;
    }

}

/* pc */
@media screen and (min-width:1024px) {
    h1 img {
        width: 400px;
    }

    section {
        gap: 30px;
        width: 100%;
    }

    .article1,
    .article2,
    .article3 {
        width: calc(33.3333% - 20px);
    }

    .article4 {
        display: flex;
        width: 100%;
    }

    .item {
        width: 32%;
    }

    .sunny {
        width: 60px;
        position: absolute;
        top: -30%;
        right: 36%;
        animation: rotate-center 7s infinite;
    }

    .rocket {
        position: absolute;
        top: 20%;
        right: 20%;
        animation: slide-tr 7s infinite alternate;
        display: block;
    }

    .berd {
        position: absolute;
        top: 30%;
        left: 20%;
        animation: simpleMove 7s infinite;
    }

    .article4 .item {
        width: calc(33.3333% - 20px);
        margin-bottom: 17px;
        padding: 20px;
    }


}